h1 {
  font-family: $font-primary;
  font-weight: 800;
  color: $color-white;
  text-align: center;
  font-size: 1.5rem;

  @media (min-width: 765px) {
    font-size: 2rem;
  }
  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1440px) {
    font-size: 3rem;
  }
}

h2 {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 800;
  text-align: left;
  margin: 1.5rem 0;
  background: -webkit-linear-gradient(
    -70deg,
    #2188ff 0%,
    #804eda 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 765px) {
    font-size: 1.3rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1440px) {
    font-size: 1.8rem;
  }
}

p {
  color: $color-primary;
  font-family: $font-primary;
  margin: 0;
}
