@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway-VariableFont_wght.ttf")
    format("ttf");
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: $color-white;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}
