@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway-VariableFont_wght.ttf")
    format("ttf");
}

// COLORS
$color-primary: rgb(4, 13, 33);
$color-primary-hover: rgb(3, 19, 54);
$color-secondary: #2ea44f;
$color-secondary-hover: #40db6c;
$color-white: white;

// Body
$body-bg: $color-white;
$body-color: $color-primary;

$font-primary: "Raleway", sans-serif;
