// COLORS
$color-primary: rgb(4, 13, 33);
$color-primary-hover: rgb(3, 19, 54);
$color-secondary: #2ea44f;
$color-white: white;
$color-funky: -webkit-linear-gradient(
  -70deg,
  #2188ff 0%,
  #804eda 100%
);

// Body
$body-bg: $color-white;
$body-color: $color-primary;

$font-primary: "Raleway", sans-serif;
