// CONTAINERS
#aboutPage,
#homePage {
  background: rgb(4, 13, 33);
  // 60px is the height of navbar, this makes the homepage fullscreen
  min-height: calc(100vh - 60px);
}

// ABOUT PAGE
.lead {
  color: $color-white;
}

// COMMITS

#commits {
  .commit-date {
    font-size: 0.8rem;
    margin-left: 0.25rem;
  }
  .commit-text {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .commit-info {
    font-size: 0.8rem;
  }
  .commit-avatar {
    width: 15px;
    height: 15px;
  }

  li {
    text-align: left;
    position: relative;
    padding-left: 1rem; //
    margin-bottom: 1rem; // odstranit

    &::before {
      content: "";
      background: $color-white;
      position: absolute;
      left: 0px;
      top: 7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #dadfe9;
      z-index: 60;
    }

    &:not(:last-of-type)::after {
      width: 1px;
      height: calc(100% + 26px);
      content: "";
      position: absolute;
      left: 6px;
      top: 8px;
      z-index: 2;
      background: #dadfe9;
    }
  }
}
