// @import "node_modules/bootstrap/scss/bootstrap";

// COLORS
$primary: rgb(36, 41, 47);
$secondary: rgb(45, 164, 78);

// Body
$body-bg: white;
$body-color: $primary;

// Links
$link-decoration: none;

// navbar
.nav {
  justify-content: center;

  .nav-link {
    color: black;
  }
}

// lists

ul {
  list-style: none;
  padding-left: 0 !important; // proc nejde bez important ?
}

section {
  max-width: 800px;
  margin: 0 auto;
}

@import "node_modules/bootstrap/scss/bootstrap";
